# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

Library/ShaderCache/6/6dca0ceb7d7559aa53b69a9b4c1ee32b.bin
Library/ShaderCache/7/71b13860416b72678296d0edecfd99aa.bin
Library/ShaderCache/7/733c22d2bf19302bd40c57eabc24f075.bin
Library/ShaderCache/e/e734fd2b5e42b88ea9e7438020d83bc4.bin
Library/
*.csproj
*.sln
Temp/
Library/
obj/
*.svd

!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources



/Project/Project.userprefs
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp.pidb
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-Editor.pidb
/Project/Assembly-CSharp-Editor-vs.csproj
/Project/Assembly-CSharp-firstpass.csproj
/Project/Assembly-CSharp-firstpass.pidb
/Project/Assembly-CSharp-firstpass-vs.csproj
/Project/Assembly-CSharp-vs.csproj
/Project/Assembly-UnityScript-firstpass.pidb
/Project/Assembly-UnityScript-firstpass.unityproj
/Project/Assembly-UnityScript-firstpass-vs.unityproj
/Project/Project.suo

ShaderCache
metadata

Assets/Debug/DebugCircle.obj.meta
Assets/Debug/Node.obj.meta
Assets/Debug/Node2.obj.meta
